*{
  background-color: aliceblue;
  text-align: center; 
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  border: 3px solid black;
  border-radius: 4px;
  padding:  10px 0px;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
li{
  list-style: none;
  color: rgb(0, 110, 255);
  text-align: left;
  padding: 10px;
}
span{
  margin-right: 30px;
}